<div id="termynal" data-termynal data-ty-typeDelay="40" data-ty-lineDelay="700">
  <span data-ty="input" data-ty-typeDelay="1000" data-ty-prompt="whoami"
    >?</span
  >
  <span data-ty="input" data-ty-typeDelay="200">Hello friend...</span>
  <span data-ty="input" data-ty-typeDelay="100">Nice to see you again,</span>
  <span data-ty="input" data-ty-typeDelay="50"
    >I am an aspiring indiehacker and integrator. I love tinkering, hacking and
    learning. I like working on greenfield projects and established codebases
    alike, the constant being that I get involved with as many things as
    possible and I derive great joy from being able to work on the multiple
    layers involved in product development.</span
  >
  <span data-ty="input" data-ty-typeDelay="50"
    >Lately I have grown fond of designing infrastructure systems and robust
    data processing pipelines, especially since with the recent hype in AI, it
    has become cool again ¯\_(ツ)_/¯.</span
  >
</div>
