<!DOCTYPE html>
<html lang="{% if page %}{{ page.lang }}{% else %}{{ config.default_language }}{% endif %}">

<head>
    {% include "head.html" %}
</head>

<body>
    <div class="wrapper">
        <header>
            {% include "header.html" %}
        </header>
        <div class="body-with-sidebar">
            <aside>
                {% include "sidebar.html" %}
            </aside>
            <main>
                {% block content %}
                {% endblock content %}
            </main>
            
        </div>
        <footer>
            {% include "footer.html" %}
        </footer>
    </div>
<!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "1f99de2f8d574a6e86e13e3694d090d5"}'></script><!-- End Cloudflare Web Analytics -->
</body>

</html>
