<!-- FILEPATH: /Users/zero/projects/blog-pg/artur.wtf/themes/zeroada/sidebar.html -->
    <div class="logo">
        {% set image_avif = get_url(path="/assets/logo.avif") %}
        {% set image_webp = get_url(path="/assets/logo.webp") %}
        {% set image = get_url(path="/assets/logo.jpg") %}
        <picture>
          <source srcset="{{ image_avif }}" {% if alt %}alt="{{alt}}"{% endif %} />
          <source srcset="{{ image_webp }}" {% if alt %}alt="{{alt}}"{% endif %} />
          <img src="{{ image }}" class="img-logo" alt="Logo">
        </picture>
    </div>
    {% set github = load_data(path="themes/zeroada/static/social_icons/github.svg") %}
    {% set twitter = load_data(path="themes/zeroada/static/social_icons/twitter.svg") %}
    {% set linkedin = load_data(path="themes/zeroada/static/social_icons/linkedin.svg") %}
    {% set devto = load_data(path="themes/zeroada/static/social_icons/devto.svg") %}

    <ul class="social-icons">
        <li class="social-icon">
            <a class="icon" href="https://github.com/adaschevici" title="Github" aria-label="Github">
                {{ github | safe }}
            </a>
        </li>
        <li class="social-icon">
            <a class="icon" href="https://x.com/misfitiz3n" title="Twitter" aria-label="Twitter">
                {{ twitter | safe }}
            </a>
        </li>
        <li class="social-icon" id="linkedin">
            <a href="https://www.linkedin.com/in/artur-daschevici-b5404815" title="LinkedIn"
                aria-label="LinkedIn">
                {{ linkedin | safe }}
            </a>
        </li>
        <li class="social-icon" id="devto">
            <a href="https://dev.to/adaschevici" title="Dev.to"
                aria-label="Dev.to link">
                {{ devto | safe }}
            </a>
        </li>
    </ul>
    <!-- Add other sidebar content here -->
